/****************************************************************************************/
/***************************************ADMIN********************************************/
/****************************************************************************************/

.container{
  text-align: center;
  color: white;
}

h2,
h3{
  color: red;
}

td{
  padding: 10px;
}

.userTable{
  display: inline-block;
}

.userRole{
  border: none;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  font-family: xoloniumbold, sans-serif;
}

/****************************************************************************************/
/*************************************RESPONSIVE*****************************************/
/****************************************************************************************/

@media only screen and (max-width:1024px) {
  .userTable,
  .userRole{
    font-size: 10px;
  }

  td{
    padding: 10px 0;
  }


}
